.js
{
    background-image: url(assets/img/pexels-jacob-colvin-1757363.jpg);
}
.html
{
    background-image: url(assets/img/pexels-jaime-reimer-2662116.jpg);
}
.css
{
    background-image: url(assets/img/pexels-pixabay-273935.jpg);
}
.back
{
    background-image: url(assets/img/download.jpg);
}