.js
{
    background-image: url(assets/img/images1.jpg);
}
.html
{
    background-image: url(assets/img/images2.jpg);
}
.css
{
    background-image: url(assets/img/dominio-amazonico.webp);
}
.back
{
    background-image: url(assets/img/download.jpg);
}